[Unit]
Description=periodically-tshark

[Service]
User=root
Group=root
WorkingDirectory=%WorkingDirectory%
ExecStart=%WorkingDirectory%/run.sh
Restart=no
Type=oneshot

[Install]
WantedBy=multi-user.target
